
.title, .nav-title{
  font-size:x-large;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
}

.nav-title {
  color: white;
}

.roulette-row{
  margin: auto;
}

.square{
  display:inline-block;
  margin: 0 2rem;
  padding: 25px;
  width: 350px;
  height: 200px;
  border: solid 1px black;
}

.centered{
  display: block;
  margin: auto;
}

.bg-red{
  background-color: tomato;
}

.row{
  display: flex;
}

.rec-tile{
  border: solid 2px black;
  padding: 5% 10%;
  max-width: 650px;
  max-height: 250px;
}


/*place this at the bottom to override ind comp. vert margins*/
.v-spacer{
  margin-top: 2rem;
  margin-bottom: 2rem;
}