
.title, .nav-title{
  font-size:x-large;
  font-weight: 700;
  text-align: center;
}

.nav-bar {
  display: flex;
  color: white;
  padding: 1rem;
  justify-content: space-between;
  text-align: start;
}

.nav-con-r{
  display:flex;
  justify-content: space-between;
}

.roulette-row{
  margin: auto;
}

.square{
  display:inline-block;
  margin: 0 2rem;
  padding: 25px;
  width: 350px;
  height: 200px;
}

.centered{
  display: block;
  margin: auto;
}

.bg-red{
  background-color: tomato;
}

.row{
  display: flex;
  justify-content: space-evenly;
}

.rec-tile{
  border: solid 2px black;
  padding: 5% 10%;
  width: 10rem;
  height: 4rem;
}

.legend-pic{
  max-width: 75%;
}

.column{
  display: flex;
  flex-direction: column;
}

/*place this at the bottom to override ind comp. vert margins*/
.v-spacer{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.h-spacer{
  margin-left: 1rem;
  margin-right: 1rem;
}
/*Need to add responsiveness to the roullete squares*/
/*Need to add responsiveness to the rec tiles*/
